## Importação das bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

pd.set_option('display.max_columns', None)
plt.style.use('ggplot')

## Importação e Visualização da base de dados

In [2]:
df = pd.read_csv('enem2021_processed.csv', sep=';', encoding='iso-8859-1')
df

,Unnamed: 0,NU_INSCRICAO,FAIXA ETÁRIA,SEXO,COR/RAÇA,SITUAÇÃO DE CONCLUSÃO,TIPO DE ESCOLA,LOCALIZAÇÃO DA ESCOLA,NO_MUNICIPIO_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,IDIOMA,STATUS DA REDAÇÃO,NOTA_COMP1,NOTA_COMP2,NOTA_COMP3,NOTA_COMP4,NOTA_COMP5,NOTA_REDACAO,RENDA,INTERNET,PRESENCA,NOTAS
0,16,210053788150,22 anos,F,Branca,Já concluí o EM,Não respondeu,Não Consta,São Lourenço da Mata,1,1,1,1,487.9,419.9,488.2,553.1,Inglês,Sem problemas,140.0,120.0,140.0,160.0,160.0,720.0,"Até R$ 998,00",Sim,4,2669.1
1,19,210053797083,Entre 26 e 30 anos,M,Parda,Já concluí o EM,Não respondeu,Não Consta,São Lourenço da Mata,1,1,1,1,388.1,602.0,337.1,629.5,Espanhol,Sem problemas,140.0,200.0,140.0,180.0,200.0,860.0,"De R$ 998,01 até R$ 1.497,00",Sim,4,2816.7
2,50,210051819810,19 anos,F,Parda,Já concluí o EM,Não respondeu,Não Consta,Timbaúba,1,1,1,1,387.0,486.4,436.9,404.0,Espanhol,Sem problemas,100.0,180.0,120.0,120.0,140.0,660.0,"Até R$ 998,00",Sim,4,2374.3
3,57,210054293853,18 anos,F,Parda,Já concluí o EM,Não respondeu,Não Consta,Lagoa Grande,1,1,1,1,507.1,472.2,474.2,506.3,Espanhol,Sem problemas,120.0,120.0,120.0,120.0,100.0,580.0,Nenhuma renda,Sim,4,2539.8
4,76,210051930402,17 anos,F,Branca,Estou cursando e concluirei o EM em 2021,Privada,Urbana,Surubim,1,1,1,1,587.8,591.6,558.9,644.1,Espanhol,Sem problemas,140.0,180.0,120.0,180.0,200.0,820.0,"De R$ 1.497,01 até R$ 1.996,00",Sim,4,3202.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100746,2684875,210051099084,Entre 31 e 35 anos,F,Parda,Já concluí o EM,Não respondeu,Não Consta,Olinda,0,1,1,0,0.0,439.3,377.8,0.0,Espanhol,Fuga ao tema,0.0,0.0,0.0,0.0,0.0,0.0,"Até R$ 998,00",Sim,2,817.1
100747,2684881,210052900056,25 anos,F,Branca,Já concluí o EM,Não respondeu,Não Consta,Recife,1,1,1,1,654.9,727.2,610.9,662.3,Inglês,Sem problemas,160.0,160.0,140.0,180.0,200.0,840.0,"De R$ 2.994,01 até R$ 3.992,00",Sim,4,3495.3
100748,2684951,210051146292,17 anos,F,Branca,Já concluí o EM,Não respondeu,Não Consta,Jaboatão dos Guararapes,1,1,1,1,553.6,553.8,557.7,593.5,Inglês,Sem problemas,120.0,120.0,80.0,120.0,100.0,540.0,"De R$ 4.990,01 até R$ 5.988,00",Sim,4,2798.6
100749,2684977,210053824236,21 anos,F,Branca,Já concluí o EM,Não respondeu,Não Consta,Surubim,1,1,1,1,440.2,463.7,487.6,391.1,Espanhol,Sem problemas,80.0,160.0,120.0,100.0,140.0,600.0,"Até R$ 998,00",Sim,4,2382.6
100750,2685010,210052405677,19 anos,M,Branca,Estou cursando e concluirei o EM em 2021,Público,Urbana,Santa Cruz do Capibaribe,1,1,1,1,466.3,401.7,384.3,459.4,Inglês,Sem problemas,80.0,120.0,100.0,100.0,80.0,480.0,"Até R$ 998,00",Sim,4,2191.7

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100751 entries, 0 to 100750
Data columns (total 29 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             100751 non-null  int64
 1   NU_INSCRICAO           100751 non-null  int64
 2   FAIXA ETÁRIA           100751 non-null  object
 3   SEXO                   100751 non-null  object
 4   COR/RAÇA               100751 non-null  object
 5   SITUAÇÃO DE CONCLUSÃO  100751 non-null  object
 6   TIPO DE ESCOLA         100751 non-null  object
 7   LOCALIZAÇÃO DA ESCOLA  100751 non-null  object
 8   NO_MUNICIPIO_PROVA     100751 non-null  object
 9   TP_PRESENCA_CN         100751 non-null  int64
 10  TP_PRESENCA_CH         100751 non-null  int64
 11  TP_PRESENCA_LC         100751 non-null  int64
 12  TP_PRESENCA_MT         100751 non-null  int64
 13  NOTA_CN                100751 non-null  float64
 14  NOTA_CH                100751 non-null  float64
 15  NOTA_LC                100751 non-null  float64
 16  NOTA_MT                100751 non-null  float64
 17  IDIOMA                 100751 non-null  object
 18  STATUS DA REDAÇÃO      100751 non-null  object
 19  NOTA_COMP1             100751 non-null  float64
 20  NOTA_COMP2             100751 non-null  float64
 21  NOTA_COMP3             100751 non-null  float64
 22  NOTA_COMP4             100751 non-null  float64
 23  NOTA_COMP5             100751 non-null  float64
 24  NOTA_REDACAO           100751 non-null  float64
 25  RENDA                  100751 non-null  object
 26  INTERNET               100751 non-null  object
 27  PRESENCA               100751 non-null  int64
 28  NOTAS                  100751 non-null  float64
dtypes: float64(11), int64(7), object(11)
memory usage: 22.3+ MB

## Tratamento e Limpeza de Dados

In [4]:
df.drop(columns=['Unnamed: 0','NU_INSCRICAO','TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_LC','TP_PRESENCA_MT','PRESENCA','NOTAS'],inplace=True)

In [5]:
df.columns

Index(['FAIXA ETÁRIA', 'SEXO', 'COR/RAÇA', 'SITUAÇÃO DE CONCLUSÃO',
       'TIPO DE ESCOLA', 'LOCALIZAÇÃO DA ESCOLA', 'NO_MUNICIPIO_PROVA',
       'NOTA_CN', 'NOTA_CH', 'NOTA_LC', 'NOTA_MT', 'IDIOMA',
       'STATUS DA REDAÇÃO', 'NOTA_COMP1', 'NOTA_COMP2', 'NOTA_COMP3',
       'NOTA_COMP4', 'NOTA_COMP5', 'NOTA_REDACAO', 'RENDA', 'INTERNET'],
      dtype='object')

In [6]:
df = df[['FAIXA ETÁRIA', 'SEXO', 'COR/RAÇA', 'SITUAÇÃO DE CONCLUSÃO',
       'TIPO DE ESCOLA', 'LOCALIZAÇÃO DA ESCOLA', 'NO_MUNICIPIO_PROVA',
       'NOTA_CN', 'NOTA_CH', 'NOTA_LC', 'NOTA_MT','NOTA_COMP1', 'NOTA_COMP2',
       'NOTA_COMP3','NOTA_COMP4', 'NOTA_COMP5', 'NOTA_REDACAO','STATUS DA REDAÇÃO',
       'IDIOMA','RENDA', 'INTERNET']]

In [7]:
df.head()

,FAIXA ETÁRIA,SEXO,COR/RAÇA,SITUAÇÃO DE CONCLUSÃO,TIPO DE ESCOLA,LOCALIZAÇÃO DA ESCOLA,NO_MUNICIPIO_PROVA,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,NOTA_COMP1,NOTA_COMP2,NOTA_COMP3,NOTA_COMP4,NOTA_COMP5,NOTA_REDACAO,STATUS DA REDAÇÃO,IDIOMA,RENDA,INTERNET
0,22 anos,F,Branca,Já concluí o EM,Não respondeu,Não Consta,São Lourenço da Mata,487.9,419.9,488.2,553.1,140.0,120.0,140.0,160.0,160.0,720.0,Sem problemas,Inglês,"Até R$ 998,00",Sim
1,Entre 26 e 30 anos,M,Parda,Já concluí o EM,Não respondeu,Não Consta,São Lourenço da Mata,388.1,602.0,337.1,629.5,140.0,200.0,140.0,180.0,200.0,860.0,Sem problemas,Espanhol,"De R$ 998,01 até R$ 1.497,00",Sim
2,19 anos,F,Parda,Já concluí o EM,Não respondeu,Não Consta,Timbaúba,387.0,486.4,436.9,404.0,100.0,180.0,120.0,120.0,140.0,660.0,Sem problemas,Espanhol,"Até R$ 998,00",Sim
3,18 anos,F,Parda,Já concluí o EM,Não respondeu,Não Consta,Lagoa Grande,507.1,472.2,474.2,506.3,120.0,120.0,120.0,120.0,100.0,580.0,Sem problemas,Espanhol,Nenhuma renda,Sim
4,17 anos,F,Branca,Estou cursando e concluirei o EM em 2021,Privada,Urbana,Surubim,587.8,591.6,558.9,644.1,140.0,180.0,120.0,180.0,200.0,820.0,Sem problemas,Espanhol,"De R$ 1.497,01 até R$ 1.996,00",Sim

## Análise Exploratória dos Dados

In [8]:
df.describe()

,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,NOTA_COMP1,NOTA_COMP2,NOTA_COMP3,NOTA_COMP4,NOTA_COMP5,NOTA_REDACAO
count,100751.000000,100751.000000,100751.000000,100751.000000,100751.000000,100751.000000,100751.000000,100751.000000,100751.000000,100751.000000
mean,463.146548,507.994400,492.316817,504.037548,117.546029,140.196127,116.161428,128.624828,115.934333,618.462745
std,125.219801,97.749328,81.328320,150.789256,35.157452,47.044599,37.825336,40.632978,59.840037,197.572049
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,417.700000,434.600000,438.100000,431.900000,100.000000,120.000000,100.000000,120.000000,80.000000,520.000000
50%,468.700000,505.200000,494.000000,497.000000,120.000000,120.000000,120.000000,120.000000,120.000000,620.000000
75%,531.400000,577.400000,547.900000,595.400000,140.000000,180.000000,140.000000,160.000000,160.000000,760.000000
max,816.400000,832.500000,794.200000,953.100000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100751 entries, 0 to 100750
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   FAIXA ETÁRIA           100751 non-null  object
 1   SEXO                   100751 non-null  object
 2   COR/RAÇA               100751 non-null  object
 3   SITUAÇÃO DE CONCLUSÃO  100751 non-null  object
 4   TIPO DE ESCOLA         100751 non-null  object
 5   LOCALIZAÇÃO DA ESCOLA  100751 non-null  object
 6   NO_MUNICIPIO_PROVA     100751 non-null  object
 7   NOTA_CN                100751 non-null  float64
 8   NOTA_CH                100751 non-null  float64
 9   NOTA_LC                100751 non-null  float64
 10  NOTA_MT                100751 non-null  float64
 11  NOTA_COMP1             100751 non-null  float64
 12  NOTA_COMP2             100751 non-null  float64
 13  NOTA_COMP3             100751 non-null  float64
 14  NOTA_COMP4             100751 non-null  float64
 15  NOTA_COMP5             100751 non-null  float64
 16  NOTA_REDACAO           100751 non-null  float64
 17  STATUS DA REDAÇÃO      100751 non-null  object
 18  IDIOMA                 100751 non-null  object
 19  RENDA                  100751 non-null  object
 20  INTERNET               100751 non-null  object
dtypes: float64(10), object(11)
memory usage: 16.1+ MB

### Question 1: Qual a faixa etária que mais participou do Enem 2021?

In [10]:
df['FAIXA ETÁRIA'].value_counts()

18 anos               27769
17 anos               21115
19 anos               14206
20 anos                8352
21 anos                5256
Entre 26 e 30 anos     4997
22 anos                3738
Entre 31 e 35 anos     2629
23 anos                2599
24 anos                2055
Entre 36 e 40 anos     1897
25 anos                1703
Menor de 17 anos       1538
Entre 41 e 45 anos     1257
Entre 46 e 50 anos      794
Entre 51 e 55 anos      489
Entre 56 e 60 anos      239
Entre 61 e 65 anos       83
Entre 66 e 70 anos       26
Maior que 70 anos         9
Name: FAIXA ETÁRIA, dtype: int64

In [11]:
jovens = df.loc[df['FAIXA ETÁRIA'] < '20 anos']

In [12]:
jovens['FAIXA ETÁRIA'].unique()

array(['19 anos', '18 anos', '17 anos'], dtype=object)

In [13]:
jovens.groupby('FAIXA ETÁRIA')['NO_MUNICIPIO_PROVA'].value_counts().head()

FAIXA ETÁRIA  NO_MUNICIPIO_PROVA
17 anos       Recife                     4828
              Jaboatão dos Guararapes    1205
              Olinda                     1005
              Caruaru                     977
              Petrolina                   957
Name: NO_MUNICIPIO_PROVA, dtype: int64